.title {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
}

.input__search {
    width: 100%;
    background-color: var(--background-color-white);
}

.container-table {
    height:34vh;
    max-width: 100%;
    overflow: auto;
}