<div class="backgroud">
    <div class="container">
        <div class="row col-12 pt-3">
            <div class="title mb-1">List movies</div>
            <div class="mat-elevation-z8 container-table">
                <app-table 
                    [table]="table" 
                    [dataSource]="dataSource"
                    (dataSearch)="dataSearch($event)"
                ></app-table>
                <mat-paginator 
                        [pageSizeOptions]="[5, 10, 20]" 
                        [length]="totalRows"
                        [pageIndex]="currentPage"
                        [pageSize]="pageSize"
                        (page)="onPageChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>