<div class="backgroud">
    <div class="container">
        <div class="row pt-3">
            <div class="col-6">
                <app-winners-year></app-winners-year>
            </div>
            <div class="col-6">
                <app-top-studios></app-top-studios>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-6">
                <app-producers></app-producers>
            </div>
            <div class="col-6">
                <app-list-movies-year></app-list-movies-year>
            </div>
        </div>
    </div>
</div>